<div class="max-w-5xl px-3 mx-auto">

  <h4 class="text-3xl font-semibold text-center leading-relaxed mb-4">
    Elige el plan que mejor se adapte a tu proyecto!
  </h4>


</div>
<div class="grid grid-cols-12 gap-6 mt-16">

  <!-- SILVER -->
  <div class="col-span-12 sm:col-span-6 lg:col-span-4" *ngFor="let plan of plans">

    <mat-card class="cardWithShadow">
       <span class="absolute right-4 top-4 text-xs bg-green-100 text-yellow-700 px-2 py-1 rounded">
        Suscriptions
      </span>
      <br/>

      <mat-card-content class="py-6 text-center">

        <span class="block uppercase text-xs mb-4">{{ plan.name }}</span>

        <img src="/assets/images/backgrounds/gold.png" width="90" alt="badge" class="mx-auto">

        <!-- <h2 class="text-5xl font-bold my-5">{{ plan.price }}</h2> -->

        <div class="space-y-3 text-left">

          <div class="flex items-center">
            <mat-icon class="text-primary mr-2">check</mat-icon>
            <span class="text-sm"> {{ plan.description }} </span>
          </div>

        </div>

        <!-- <button mat-flat-button color="primary" class="w-full mt-6" (click)="openPayment(plan)"> -->
        <button mat-flat-button color="primary" class="w-full mt-6" (click)="openPayment(plan)">
          Obtener Plan
        </button>

      </mat-card-content>

    </mat-card>

  </div>


</div>
<!-- MODAL PRICES -->
 <ng-template #pricesModal>
    <h2 mat-dialog-title>Crear cupón</h2>

    <mat-dialog-content class="!max-w-none">
        <div class="grid grid-cols-1 gap-4 pt-2">


                <div class="grid grid-cols-12 gap-6">

                    <!-- <div class="grid grid-cols-12 gap-6 mt-16"> -->

  <!-- SILVER -->
  <div class="col-span-12 sm:col-span-6 lg:col-span-4">
    <mat-card class="cardWithShadow">
      <mat-card-content class="py-6">

        <span class="block uppercase text-xs mb-4">Silver</span>

        <img src="/assets/images/backgrounds/silver.png" width="90" alt="badge">

        <h2 class="text-5xl font-bold my-5">Free</h2>

        <div class="flex items-center py-3">
          <mat-icon class="text-primary mr-2">check</mat-icon>
          <span class="text-sm font-medium">3 Members</span>
        </div>

        <div class="flex items-center py-3">
          <mat-icon class="text-primary mr-2">check</mat-icon>
          <span class="text-sm font-medium">Single Device</span>
        </div>

        <div class="flex items-center py-3 opacity-50">
          <mat-icon class="mr-2">close</mat-icon>
          <span class="text-sm font-medium">50GB Storage</span>
        </div>

        <div class="flex items-center py-3 opacity-50">
          <mat-icon class="mr-2">close</mat-icon>
          <span class="text-sm font-medium">Monthly Backups</span>
        </div>

        <div class="flex items-center py-3 opacity-50">
          <mat-icon class="mr-2">close</mat-icon>
          <span class="text-sm font-medium">Permissions & workflows</span>
        </div>

        <button mat-flat-button color="primary" class="w-full mt-6">
          Choose Silver
        </button>

      </mat-card-content>
    </mat-card>
  </div>

  <!-- BRONZE -->
  <div class="col-span-12 sm:col-span-6 lg:col-span-4">
    <mat-card class="cardWithShadow">
      <mat-card-content class="py-6">

        <span class="absolute right-4 uppercase bg-yellow-100 text-yellow-700 px-2 py-1 text-xs rounded">
          Popular
        </span>

        <span class="block uppercase text-xs mb-4">Bronze</span>

        <img src="/assets/images/backgrounds/bronze.png" width="90" alt="badge">

        <div class="flex items-center my-5">
          <span class="text-xl font-bold">$</span>
          <h2 class="text-5xl font-bold mx-2">10.99</h2>
          <span class="text-sm">/mo</span>
        </div>

        <div class="flex items-center py-3">
          <mat-icon class="text-primary mr-2">check</mat-icon>
          <span class="text-sm font-medium">5 Members</span>
        </div>

        <div class="flex items-center py-3">
          <mat-icon class="text-primary mr-2">check</mat-icon>
          <span class="text-sm font-medium">Multiple Device</span>
        </div>

        <div class="flex items-center py-3 opacity-50">
          <mat-icon class="mr-2">close</mat-icon>
          <span class="text-sm font-medium">80GB Storage</span>
        </div>

        <div class="flex items-center py-3 opacity-50">
          <mat-icon class="mr-2">close</mat-icon>
          <span class="text-sm font-medium">Monthly Backups</span>
        </div>

        <div class="flex items-center py-3 opacity-50">
          <mat-icon class="mr-2">close</mat-icon>
          <span class="text-sm font-medium">Permissions & workflows</span>
        </div>

        <button mat-flat-button color="primary" class="w-full mt-6">
          Choose Bronze
        </button>

      </mat-card-content>
    </mat-card>
  </div>

  <!-- GOLD -->
  <div class="col-span-12 sm:col-span-6 lg:col-span-4">
    <mat-card class="cardWithShadow">
      <mat-card-content class="py-6">

        <span class="block uppercase text-xs mb-4">Gold</span>

        <img src="/assets/images/backgrounds/gold.png" width="90" alt="badge">

        <div class="flex items-center my-5">
          <span class="text-xl font-bold">$</span>
          <h2 class="text-5xl font-bold mx-2">22.99</h2>
          <span class="text-sm">/mo</span>
        </div>

        <div class="flex items-center py-3">
          <mat-icon class="text-primary mr-2">check</mat-icon>
          <span class="text-sm font-medium">Unlimited Members</span>
        </div>

        <div class="flex items-center py-3">
          <mat-icon class="text-primary mr-2">check</mat-icon>
          <span class="text-sm font-medium">Multiple Device</span>
        </div>

        <div class="flex items-center py-3">
          <mat-icon class="text-primary mr-2">check</mat-icon>
          <span class="text-sm font-medium">150GB Storage</span>
        </div>

        <div class="flex items-center py-3">
          <mat-icon class="text-primary mr-2">check</mat-icon>
          <span class="text-sm font-medium">Monthly Backups</span>
        </div>

        <div class="flex items-center py-3">
          <mat-icon class="text-primary mr-2">check</mat-icon>
          <span class="text-sm font-medium">Permissions & workflows</span>
        </div>

        <button mat-flat-button color="primary" class="w-full mt-6">
          Choose Gold
        </button>

      </mat-card-content>
    </mat-card>
  </div>

<!-- </div> -->

                </div>


        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
        Cancelar
        </button>

        <button mat-raised-button color="primary" >
        Guardar cupón
        </button>
    </mat-dialog-actions>
</ng-template>