<mat-card class="mat-mdc-card mdc-card cardWithShadow theme-card">

    <div class="p-6 flex justify-between items-center">

        <div class="text-lg font-medium">
            <strong>DIAGNOSTICO</strong>
        </div>
    </div>

          <mat-card class="mat-mdc-card border border-border shadow-none mb-0">

                    <!-- <div class="p-4 text-center">
                        <mat-card-title>
                            {{ sectionProgress?.title }}: {{ sectionProgress?.description }}
                        </mat-card-title>
                           
                    </div> -->

                    <mat-card-content class="border-t border-border">

                        <form >
                            <div class="grid grid-cols-8 gap-x-4 text-sm">
                                    <div class="col-span-8 ">
                                   <div class="flex justify-between items-center">

                                        <mat-label class="font-semibold mb-2 block">
                                            = >

                                            <small 
                                                class=" italic cursor-pointer" 
                                                title="Ver detalle">
                                                <strong> Ver detalle para responder</strong>
                                            </small>
                                        </mat-label>

                                    </div>
                                   
                                   

                                    <div class="flex items-center gap-1 w-full">

                                        <mat-form-field appearance="outline" class="flex-1">
                                            <textarea matInput rows="5" autofocus formControlName="answer">
                                        </textarea>

                                        </mat-form-field>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>    

                </mat-card>

</mat-card>